

 <!-- About Section -->
 <section class="page-section bg-primary" id="about">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">We've got what you need!</h2>
              <hr class="divider light my-4">
              <p class="text-white-50 mb-4">Training to the best graduate to become the best software engineers. We have many partners cross the globe which we serve them with our better services. In the world of growing technology where the business sector have been eroded by technology. We provide our clients with the best softwarein the world!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#customer">Get Started!</a>
            </div>
          </div>
        </div>
      </section>
    